<phpunit bootstrap="vendor/autoload.php">
  <php>
    <env name="RESOURCEKEY" value="!!YOUR_RESOURCE_KEY!!"/>
  </php>
  <testsuites>
    <testsuite name="Unit">
      <file>tests/CloudResponse.php</file>
      <file>tests/CloudRequestEngineTests.php</file>
      <file>tests/MissingPropertyHandling.php</file>
    </testsuite>
    <testsuite name="Integration">
      <file>tests/CloudRequestTests.php</file>
    </testsuite>
  </testsuites>
</phpunit>
